.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    min-height:90vh;

    padding:80px 8%;

    background:
        radial-gradient(circle at top left,#dbeafe 0%,transparent 30%),
        radial-gradient(circle at bottom right,#ddd6fe 0%,transparent 30%),
        #f8fafc;
}

.hero-left{
    width:50%;
}

.hero-right{
    width:45%;
    position:relative;

}

.hero-right img{

    width:100%;

    animation:float 4s ease-in-out infinite;
    border-radius:30px;
}

.hero-badge{

    display:inline-block;

    background:#dbeafe;

    color:#2563eb;

    padding:10px 20px;

    border-radius:50px;

    margin-bottom:25px;

    font-weight:600;

    box-shadow:0 10px 25px rgba(37,99,235,.2);
}
.hero h1{

    font-size:72px;

    font-weight:800;

    line-height:1.1;

    margin-bottom:25px;

    background:linear-gradient(90deg,#2563eb,#7c3aed);

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;

}

.hero p{

    font-size:20px;

    color:#64748b;

    line-height:1.8;

    margin-bottom:35px;
}

.hero-buttons{

    display:flex;

    gap:20px;
}
@keyframes float{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-20px);

    }

}
.hero-right{
    position:relative;
}

.card{

    position:absolute;

    background:white;

    padding:18px 28px;

    border-radius:18px;

    box-shadow:0 20px 50px rgba(0,0,0,.12);

    text-align:center;

}

.card h3{

    color:#2563eb;

    font-size:28px;

}

.card p{

    margin-top:5px;

    color:#64748b;

}

.card1{
    top:12%;
    left:-60px;
}

.card2{
    bottom:8%;
    right:-50px;
}
.hero-right::before{

    content:"";

    position:absolute;

    width:420px;

    height:420px;

    background:radial-gradient(circle,#60a5fa55,transparent 70%);

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    z-index:-1;

    filter:blur(30px);

}